#root {
  touch-action: manipulation;
}

body {
  font-size: 15px;
}

.in_he_wrap {
  z-index: 99;
  margin: 0 auto;
  margin-top: -30px !important;
  position: relative;
  /* background-color: white; */
}

#h {
  position: relative;
  max-width: 1024px;
  margin: 3% auto 1%;
}

#logo img {
  display: block;
  height: 75px !important;
}

#logo {
  float: left;
  margin: 8px 10px 8px 0px;
}

.top_l {
  float: left;
  width: 30%;
}

.top_r {
  float: right;
  width: 70%;
}

.top_r .re-search {
  float: right;
  margin: 1% 0;
}

#b-s-form {
  /* overflow: hidden; */
  position: relative;
  width: 227px;
  margin: 0 auto;
}

#b-s-form .content {
  margin-top: 0;
}

#b-s-form .f-text {
  float: left;
  margin-right: 5px;
  padding: 10px;
  border-radius: 3px;
  width: 200px;
  border: 1px solid #c7c7c7;
}

#b-s-form input:focus {
  outline: navy;
  border: 1px solid navy;
}

#b-s-form .f-submit {
  position: absolute;
  top: 7px;
  right: 10px;
  height: 27px;
  width: 29px;
  padding: 0;
  text-indent: -9999px;
  background: url("../images/search-icon.png") no-repeat center top;
  border-color: #e4e4e4 #d2d2d2 #b4b4b4;
  overflow: hidden;
  box-shadow: none;
  border: none;
  cursor: pointer;
}

#b-s-form .f-submit:hover {
  opacity: 0.8;
}

.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

.clear:after {
  clear: both;
  content: " ";
  display: block;
  font-size: 0;
  line-height: 0;
  visibility: hidden;
  width: 0;
  height: 0;
}

.me_wrap {
  width: 100%;
}

#main-me {
  max-width: 1024px;
  margin: 0 auto;
  position: relative;
  background-color: #214467 !important;
  border-radius: 8px !important;
}

#main-me .nav-toggle {
  display: none;
}

#main-me li {
  position: relative;
  display: inline-block;
}

#main-me li:hover>a {
  background-color: #01152a;
  border-radius: 13px !important;
}

ul.menu {
  padding: 0;
  margin: 5px 0 5px 0;
}

#main-me a {
  padding: 11px 20px;
  display: block;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
}

#main-me ul li:first-child {
  padding-left: 0;
}

#main-me li ul {
  display: none;
  position: absolute;
  z-index: 9999;
  padding: 0;
  margin: 0;
  background: #2e3d4a;
  overflow: visible !important;
}

#main-me li:hover>ul,
#main-me li li:hover>ul,
#main-me li li li:hover>ul {
  display: block;
  border-radius: 10%;
}

#main-me li li {
  float: none;
  min-width: 150px;
  padding: 0;
  margin: 0;
  position: relative;
}

#main-me li ul ul {
  left: 171px;
  top: 0;
}

#main-me li ul ul li a {
  text-align: left;
}

#main-me li li a {
  background: none repeat scroll 0 0 #214467 !important;
  min-width: 150px;
  padding: 8px 11px;
  color: white;
  border-width: 1px 0 0 0;
}

#main-me li li:hover>a {
  background: #01152a !important;
  border-radius: 8px !important;
  border-top: 1px solid #17b495;
  border-bottom: 1px solid #17b495;
}

#main-me li.expanded,
#main-me li.leaf {
  margin: 0;
  padding: 0;
}

#main-me li.m {
  margin-top: 5px;
  margin-left: 5px;
}

.r-f-welcome {
  margin: 2% auto;
  max-width: 1024px;
  text-align: center;
}

.container {
  clear: both;
  overflow: hidden;
}

.con-wrap {
  max-width: 1024px;
  margin: 1% auto;
  padding: 0;
  overflow: hidden;
}

.c-si-wrap {
  float: left;
  width: 100%;
}

.c-si-wrap #content {
  width: 90%;
  margin: 10px 50px 10px 10px;
  display: inline;
  margin-bottom: 10px;
  float: right;
}

.fi-items {
  --font-sans: Karla, Arial, sans-serif;
  font-family: var(--font-sans);
}

._d-p-size {
  height: 410px;
}

.not-available {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin-left: 3px;
  background-color: rgb(149, 7, 7);
  border-radius: 100%;
}

.pa-title {
  color: #214467;
  font-size: 28px !important;
  font-weight: bold;
  margin-bottom: 20px;
}

.v-ex-widget {
  float: left;
  padding: 0.5em 1em 0 0;
}

.v-ex-widgets {
  margin-bottom: 1em;
}

.sd {
  word-spacing: 10px;
}

.c_dis {
  float: none;
  width: 63%;
}

.c-dis-sutra {
  float: none;
  width: 100%;
}

.v-fi_sutra {
  position: relative;
  border: 1px solid black;
  padding: 10px;
  padding-bottom: 16px !important;
}

.eng-title {
  margin-bottom: 15px;
}

.view-field {
  width: 100%;
  border: 1px solid black !important;
  padding: 10px
}

.hov-parent {
  padding-bottom: 10px !important;
}

.hov-parent .hov-child {
  visibility: hidden;
}

.hov-parent:hover .hov-child {
  visibility: visible;
}

.mr-1 {
  margin-right: 0.25rem;
}

.ml-auto {
  margin-left: auto;
}

.border-0 {
  border-color: transparent;
}

.border-0 {
  border-width: 0;
}

.rounded-full {
  border-radius: 9999px;
}

.cursor-pointer {
  cursor: pointer;
}

.w-8 {
  width: 2rem;
}

.h-8 {
  height: 2rem;
}

[role=button],
button {
  cursor: pointer;
}

[type=button],
[type=reset],
[type=submit],
button {
  background-color: transparent;
  background-image: none;
}

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}

#shareBottom {
  bottom: 10px;
  right: 10px;
}

#shareTop {
  top: 60px;
  right: 10px;
}

.h-fonts {
  font-family: 'Libre Baskerville', serif;
  font-family: 'Tiro Devanagari Hindi', serif !important;
}

.fse-describe {
  display: inline;
  top: 0px;
  font-size: 4px;
}

.clearfix::after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.list {
  margin-bottom: auto;

  div {
    width: 240px;
    padding: 5px;
  }

  div:hover {
    background-color: #f3f3f3 !important;
    border-radius: 10px;

    a {
      font-size: 30px;
    }
  }
}

.team-member {
  padding: 19px !important;
}

.choice {
  float: none;
}

.choice-view {
  float: left;
  padding: 0.5em 1em 0 0;
}

.content-y {
  margin-bottom: 100px;
}

.choice-box {
  width: 15px;
  height: 15px;
  cursor: pointer;
  border-radius: 0.4rem;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 15px;
  width: 100%;
  /* background: #ececec; */
  border: 1px solid #bbbbbb;
}

table.homepage td {
  width: 50% !important;
  font-size: 15px;
  /* background: #fff; */
  color: #747474;
  text-align: left;
  padding: 10px;
  border: 1px solid #dbdbdb;
  vertical-align: middle;
  height: 63px;
}

table.homepage td {
  a:hover {
    font-size: 19px;
    text-decoration: underline;
  }
}

a {
  text-decoration: none;
  list-style: none;
}

b {
  color: #c100ff !important;
}

body #footer {
  overflow: auto;
  padding: 2% 3% 2% 3%;
  max-width: 1024px;
  margin: 0 auto;
  border-top: 4px solid #01152a;
  background: none repeat scroll 0 0 #214467;
}

[data-tippy-root] {
  max-width: calc(100vw - 10px);
}

.tippy-box {
  position: relative;
  outline: 0;
  transition-property: visibility, opacity, -webkit-transform;
  transition-property: transform, visibility, opacity;
  transition-property: transform, visibility, opacity, -webkit-transform;
}

.tippy-content {
  position: relative;
  z-index: 1;
  background: transparent;
}

.shadow-elevated {
  --color-shadow-elevated: rgba(0, 0, 0, 0.16);
  --tw-shadow: 1px 6px 15px var(--color-shadow-elevated);
  --tw-shadow-colored: 1px 6px 15px var(--tw-shadow-color);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.bg-fill-content-prime {
  --tw-bg-opacity: 1;
  --color-fill-content-prime: 255, 255, 255;
  background-color: rgba(var(--color-fill-content-prime), var(--tw-bg-opacity));
}


.min-w-\[220px\] {
  min-width: 220px;
}

.w-full {
  width: 100%;
}

.text-typo {
  --tw-text-opacity: 1;
  color: rgba(var(--color-typo-default), var(--tw-text-opacity));
}

.text-tight-m {
  font-size: var(--font-size-text-sm);
  line-height: 1.43;
}

.py-1\.5 {
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.bg-ui-fill {
  --tw-bg-opacity: 1;
  --color-ui-fill-default: 255, 255, 255;
  --tw-bg-opacity: 1;
  background-color: rgba(var(--color-ui-fill-default), var(--tw-bg-opacity));
}


.cursor-pointer {
  cursor: pointer;
}

.w-full {
  width: 100%;
}

.inline-flex {
  display: inline-flex;
}

.flex {
  display: flex;
}

.box-border {
  box-sizing: border-box;
}

.pr-2 {
  padding-right: 0.5rem;
}

.place-content-center {
  place-content: center;
}

.flex {
  display: flex;
}

.flex-grow,
.grow {
  flex-grow: 1;
}

.text-icon {
  --tw-text-opacity: 1;
  --color-icon-default: 203, 204, 206;
  color: rgba(var(--color-icon-default), var(--tw-text-opacity));
}

[class*=" icon-"],
[class^=icon-] {
  font-family: icomoon !important;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.hover\:bg-ui-fill-hover:hover {
  --color-ui-fill-default-hover: rgba(3, 169, 244, 0.1);
  background-color: var(--color-ui-fill-default-hover);
}

.nopage {
  width: 100%;
  height: 300px;
}

.nopage .error {
  flex-direction: column;
  margin-top: 200px;
  align-items: center;
  justify-content: center;
}

.cp-chra {
  display: none;
  position: relative;
  top: 1px;
}

#main-me li:hover>a:hover {
  .cp-chra {
    transition-duration: 1.0ms;
    display: inline-block;
    font-weight: 900;
    font-stretch: condensed;
  }
}

._c-sec {
  float: right;
  margin-right: 10px;
  margin-top: 5px;
}

._c-mode>div._dark-bu {
  cursor: pointer;
  text-align: center;
  width: 35px;
  /* color: #1d1d1d; */
}

._c-mode>div._dark-bu>span {
  position: relative;
  top: 4px;
}

._dark-lo {
  height: 35px;
  width: 35px;
}

span._notice {
  background-color: #ffffe0;
  display: block;
  line-height: 15px;
  padding: 5px;
  box-shadow: 1px 1px 10px 1px whitesmoke;
}

._d-mode {
  background-color: #1d1d1d !important;
  color: white !important;

  ._c-mode>div._dark-bu {
    /* background-color: #1d1d1d !important; */
    color: white !important;
  }


  #b-s-form .f-text {
    background-color: black !important;
    color: whitesmoke !important;
  }

  a,
  h1 {
    color: #ffffff !important;
  }

  em._src-gita1a {
    background-color: #464444 !important;
  }

  div.mb-15>a {
    color: #cdf7d2 !important;
  }

  div.pa-title {
    color: #ffffff !important;
  }

  .bg-fill-content-prime,
  .bg-ui-fill {
    background-color: #1d1d1d !important;
  }

  div.shadow-elevated {
    box-shadow: 0px 0px 11px 1px whitesmoke !important;
  }

  .hover\:bg-ui-fill-hover:hover {
    background-color: #464444 !important;
  }

  #footer {
    border-top: 4px solid whitesmoke !important;
  }

  #main-me .nav-toggle,
  #footer {
    background-color: #435f6021 !important;
  }

  .list {
    div:hover {
      background-color: #252525 !important;
    }
  }

  .v-fi_sutra {
    border: 1px solid white;

    p {
      font {
        b {
          color: white !important;
        }
      }
    }
  }

  select {
    background-color: #252525 !important;
    color: white !important;
  }
}

._is-database-available-on-kuldeep1a-dataset {
  display: flex;
  flex-direction: column;
  padding: 3px;
  margin-top: 4px;

  div:first-child span {
    text-decoration: underline #dd2727 0.00000000000001mm;
  }

  div {
    span {
      margin-right: 3px;

      em {
        font-weight: bold;
      }
    }
  }

}