@media screen and (min-width: 961px) {
  .list {
    div:hover {
      margin-bottom: 8px;
    }
  }

  ul.menu {
    font-size: 18px;
  }

  .homepage {
    a {
      font-size: 18px;
    }
  }
}

@media screen and (max-width: 960px) {
  .r-f-welcome {
    margin: 1% 2%;
  }

  .c_dis {
    float: none;
    width: 90%;
    margin: auto;
  }

  .welcome-img {
    img {
      min-width: 400px;
    }
  }
}

@media screen and (min-width: 830px) and (max-width: 980px) {
  #h .top_r {
    margin-top: 25px;
  }

  body {
    margin: 10px 5px !important;
  }


}

@media screen and (max-width: 830px) {
  body #footer {
    padding: 4% 5% 4% 5%;
  }

  .c-si-wrap #content {
    margin: 20px !important;
  }

  .top_l,
  .top_r {
    width: 100%;
  }

  .top_r .re-search {
    width: 100%;
    padding: 0;
  }

  #logo {
    text-align: center;
    width: 100%;
    margin: 8px 0 0 0;
  }

  #logo img {
    height: 100px !important;
    text-align: center;
    display: inline-block;
  }

  .me_wrap {
    margin: 0;
  }

  .expanded ul.menu {
    display: none !important;
  }

  #main-me ul {
    display: none;
    transform: translateY(-320px);
    transition: transform 0.3s ease-in-out;
  }

  .open {
    display: block !important;
    transform: translateY(0px) !important;
    transition: transform 0.3s ease-in-out;
  }

  #main-me {
    min-width: 349px !important;
    max-width: 700px;
  }

  #main-me>a {
    width: 100%;
    padding: 3% 2%;
    border-radius: 0;
  }

  #main-me ul.menu li {
    margin: 0;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #16a085;
  }

  #main-me .nav-toggle {
    display: block;
    font-size: 15px;
    font-weight: normal;
    background-color: #18222b;
    color: white;
    border-radius: 8px !important;
    margin: auto;
    width: auto;
    padding: 3%;
    letter-spacing: 1px;
    text-align: center;
  }

  ._top {
    margin-top: 40px;
  }

  .page-ws-tab {
    flex-direction: column;
  }

  .user {
    justify-content: space-between;
  }

  .dbAc {
    flex-direction: column;
    width: 250px;
  }
}

@media screen and (max-width: 499px) {
  .controller {
    flex-direction: column-reverse;
  }
}

@media screen and (max-width: 420px) {
  ._s-word {
    width: 80%;
  }

  #main-me .nav-toggle {
    margin: auto !important;
    width: auto;
  }

  .nopage .error {
    margin-top: 100px !important;
  }

  #main-me {
    width: 349px !important;
  }

  .c_dis {
    float: none;
    width: 100%;
    margin: auto;
  }

  ._d-p-size {
    height: 310px !important;
  }

  .c-lc-action {
    div {
      span {
        display: block;
      }

      span:hover {
        color: #498bcd;
      }
    }
  }

  .audio-button {
    div {
      display: block;
    }
  }

  .user {
    flex-direction: column;
    justify-content: left;
    align-items: start;
  }
}