select::-webkit-scrollbar {
    overflow: visible;
}

select::-webkit-scrollbar-button {
    height: 0;
    width: 0;
}

select::-webkit-scrollbar-track {
    background-clip: padding-box;
    border: solid transparent;
    border-width: 0 0 0 4px;
}

select::-webkit-scrollbar-track:horizontal {
    border-width: 4px 0 0;
}

select::-webkit-scrollbar-track:hover {
    -webkit-box-shadow: inset 1px 0 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 1px 0 0 rgba(0, 0, 0, 0.1);
    box-shadow: inset 1px 0 0 rgba(0, 0, 0, 0.1);
}

select::-webkit-scrollbar-track:horizontal:hover {
    -webkit-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.1);
}

select::-webkit-scrollbar-track:active {
    background-color: rgba(0, 0, 0, 0.05);
    -webkit-box-shadow:
        inset 1px 0 0 rgba(0, 0, 0, 0.14),
        inset -1px 0 0 rgba(0, 0, 0, 0.07);
    -moz-box-shadow:
        inset 1px 0 0 rgba(0, 0, 0, 0.14),
        inset -1px 0 0 rgba(0, 0, 0, 0.07);
    box-shadow:
        inset 1px 0 0 rgba(0, 0, 0, 0.14),
        inset -1px 0 0 rgba(0, 0, 0, 0.07);
}

select::-webkit-scrollbar-track:horizontal:active {
    -webkit-box-shadow:
        inset 0 1px 0 rgba(0, 0, 0, 0.14),
        inset 0 -1px 0 rgba(0, 0, 0, 0.07);
    -moz-box-shadow:
        inset 0 1px 0 rgba(0, 0, 0, 0.14),
        inset 0 -1px 0 rgba(0, 0, 0, 0.07);
    box-shadow:
        inset 0 1px 0 rgba(0, 0, 0, 0.14),
        inset 0 -1px 0 rgba(0, 0, 0, 0.07);
}

select::-webkit-scrollbar-thumb {
    background-clip: padding-box;
    border: solid transparent;
    min-height: 28px;
    padding: 100px 0 0;
    -webkit-box-shadow:
        inset 1px 1px 0 rgba(0, 0, 0, 0.1),
        inset 0 -1px 0 rgba(0, 0, 0, 0.07);
    -moz-box-shadow:
        inset 1px 1px 0 rgba(0, 0, 0, 0.1),
        inset 0 -1px 0 rgba(0, 0, 0, 0.07);
    box-shadow:
        inset 1px 1px 0 rgba(0, 0, 0, 0.1),
        inset 0 -1px 0 rgba(0, 0, 0, 0.07);
}

select::-webkit-scrollbar-thumb:horizontal {
    border-width: 6px 1px 1px;
    padding: 0 0 0 100px;
    -webkit-box-shadow:
        inset 1px 1px 0 rgba(0, 0, 0, 0.1),
        inset -1px 0 0 rgba(0, 0, 0, 0.07);
    -moz-box-shadow:
        inset 1px 1px 0 rgba(0, 0, 0, 0.1),
        inset -1px 0 0 rgba(0, 0, 0, 0.07);
    box-shadow:
        inset 1px 1px 0 rgba(0, 0, 0, 0.1),
        inset -1px 0 0 rgba(0, 0, 0, 0.07);
}

select::-webkit-scrollbar-thumb:hover {
    -webkit-box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.25);
    box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.25);
}

select::-webkit-scrollbar-thumb:active {
    -webkit-box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.35);
    box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.35);
}

select::-webkit-scrollbar-corner {
    background: transparent;
}

select::-webkit-scrollbar-track-piece {
    background-clip: padding-box;
    -webkit-box-shadow:
        inset 1px 0 0 rgba(0, 0, 0, 0.14),
        inset -1px 0 0 rgba(0, 0, 0, 0.07);
    -moz-box-shadow:
        inset 1px 0 0 rgba(0, 0, 0, 0.14),
        inset -1px 0 0 rgba(0, 0, 0, 0.07);
    box-shadow:
        inset 1px 0 0 rgba(0, 0, 0, 0.14),
        inset -1px 0 0 rgba(0, 0, 0, 0.07);
}

select::-webkit-scrollbar-track-piece:horizontal {
    border-width: 3px 0 0;
    -webkit-box-shadow:
        inset 0 1px 0 rgba(0, 0, 0, 0.14),
        inset 0 -1px 0 rgba(0, 0, 0, 0.07);
    -moz-box-shadow:
        inset 0 1px 0 rgba(0, 0, 0, 0.14),
        inset 0 -1px 0 rgba(0, 0, 0, 0.07);
    box-shadow:
        inset 0 1px 0 rgba(0, 0, 0, 0.14),
        inset 0 -1px 0 rgba(0, 0, 0, 0.07);
}

select::-webkit-scrollbar-thumb {
    border-width: 1px 1px 1px 5px;
}

select::-webkit-scrollbar-thumb:horizontal {
    border-width: 5px 1px 1px;
}

select::-webkit-scrollbar-corner {
    background-clip: padding-box;
    background-color: #f5f5f5;
    border: solid #fff;
    border-width: 3px 0 0 3px;
    -webkit-box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.14);
    -moz-box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.14);
    box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.14);
}

select::-webkit-scrollbar {
    height: 16px;
    width: 16px;
}

select::-webkit-scrollbar-track,
select::-webkit-scrollbar-thumb,
select::-webkit-scrollbar-track-piece {
    border-width: 4px !important;
}

select::-webkit-scrollbar-track {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    margin: 0 4px;
}

select::-webkit-scrollbar-track:hover {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background: none;
}

select::-webkit-scrollbar-thumb {
    background-color: #dadce0;
    border-color: transparent;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    border-style: solid;
    border-width: 4px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

select::-webkit-scrollbar-thumb:hover {
    background-color: #80868b;
}

select::-webkit-scrollbar-thumb:active {
    background-color: #5f6368;
}

select::-webkit-scrollbar-track-piece {
    background-color: #fff;
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

body::-webkit-scrollbar {
    overflow: visible;
}

body::-webkit-scrollbar-button {
    height: 0;
    width: 0;
}

body::-webkit-scrollbar-track {
    background-clip: padding-box;
    border: solid transparent;
    border-width: 0 0 0 4px;
}

body::-webkit-scrollbar-track:horizontal {
    border-width: 4px 0 0;
}

body::-webkit-scrollbar-track:hover {
    -webkit-box-shadow: inset 1px 0 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 1px 0 0 rgba(0, 0, 0, 0.1);
    box-shadow: inset 1px 0 0 rgba(0, 0, 0, 0.1);
}

body::-webkit-scrollbar-track:horizontal:hover {
    -webkit-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.1);
}

body::-webkit-scrollbar-track:active {
    background-color: rgba(0, 0, 0, 0.05);
    -webkit-box-shadow:
        inset 1px 0 0 rgba(0, 0, 0, 0.14),
        inset -1px 0 0 rgba(0, 0, 0, 0.07);
    -moz-box-shadow:
        inset 1px 0 0 rgba(0, 0, 0, 0.14),
        inset -1px 0 0 rgba(0, 0, 0, 0.07);
    box-shadow:
        inset 1px 0 0 rgba(0, 0, 0, 0.14),
        inset -1px 0 0 rgba(0, 0, 0, 0.07);
}

body::-webkit-scrollbar-track:horizontal:active {
    -webkit-box-shadow:
        inset 0 1px 0 rgba(0, 0, 0, 0.14),
        inset 0 -1px 0 rgba(0, 0, 0, 0.07);
    -moz-box-shadow:
        inset 0 1px 0 rgba(0, 0, 0, 0.14),
        inset 0 -1px 0 rgba(0, 0, 0, 0.07);
    box-shadow:
        inset 0 1px 0 rgba(0, 0, 0, 0.14),
        inset 0 -1px 0 rgba(0, 0, 0, 0.07);
}

body::-webkit-scrollbar-thumb {
    background-clip: padding-box;
    border: solid transparent;
    min-height: 28px;
    padding: 100px 0 0;
    -webkit-box-shadow:
        inset 1px 1px 0 rgba(0, 0, 0, 0.1),
        inset 0 -1px 0 rgba(0, 0, 0, 0.07);
    -moz-box-shadow:
        inset 1px 1px 0 rgba(0, 0, 0, 0.1),
        inset 0 -1px 0 rgba(0, 0, 0, 0.07);
    box-shadow:
        inset 1px 1px 0 rgba(0, 0, 0, 0.1),
        inset 0 -1px 0 rgba(0, 0, 0, 0.07);
}

body::-webkit-scrollbar-thumb:horizontal {
    border-width: 6px 1px 1px;
    padding: 0 0 0 100px;
    -webkit-box-shadow:
        inset 1px 1px 0 rgba(0, 0, 0, 0.1),
        inset -1px 0 0 rgba(0, 0, 0, 0.07);
    -moz-box-shadow:
        inset 1px 1px 0 rgba(0, 0, 0, 0.1),
        inset -1px 0 0 rgba(0, 0, 0, 0.07);
    box-shadow:
        inset 1px 1px 0 rgba(0, 0, 0, 0.1),
        inset -1px 0 0 rgba(0, 0, 0, 0.07);
}

body::-webkit-scrollbar-thumb:hover {
    -webkit-box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.25);
    box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.25);
}

body::-webkit-scrollbar-thumb:active {
    -webkit-box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.35);
    box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.35);
}

body::-webkit-scrollbar-corner {
    background: transparent;
}

body::-webkit-scrollbar-track-piece {
    background-clip: padding-box;
    -webkit-box-shadow:
        inset 1px 0 0 rgba(0, 0, 0, 0.14),
        inset -1px 0 0 rgba(0, 0, 0, 0.07);
    -moz-box-shadow:
        inset 1px 0 0 rgba(0, 0, 0, 0.14),
        inset -1px 0 0 rgba(0, 0, 0, 0.07);
    box-shadow:
        inset 1px 0 0 rgba(0, 0, 0, 0.14),
        inset -1px 0 0 rgba(0, 0, 0, 0.07);
}

body::-webkit-scrollbar-track-piece:horizontal {
    border-width: 3px 0 0;
    -webkit-box-shadow:
        inset 0 1px 0 rgba(0, 0, 0, 0.14),
        inset 0 -1px 0 rgba(0, 0, 0, 0.07);
    -moz-box-shadow:
        inset 0 1px 0 rgba(0, 0, 0, 0.14),
        inset 0 -1px 0 rgba(0, 0, 0, 0.07);
    box-shadow:
        inset 0 1px 0 rgba(0, 0, 0, 0.14),
        inset 0 -1px 0 rgba(0, 0, 0, 0.07);
}

body::-webkit-scrollbar-thumb {
    border-width: 1px 1px 1px 5px;
}

body::-webkit-scrollbar-thumb:horizontal {
    border-width: 5px 1px 1px;
}

body::-webkit-scrollbar-corner {
    background-clip: padding-box;
    background-color: #f5f5f5;
    border: solid #fff;
    border-width: 3px 0 0 3px;
    -webkit-box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.14);
    -moz-box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.14);
    box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.14);
}

body::-webkit-scrollbar {
    height: 16px;
    width: 16px;
}

body::-webkit-scrollbar-track,
body::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-track-piece {
    border-width: 4px !important;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    margin: 0 4px;
}

body::-webkit-scrollbar-track:hover {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background: none;
}

body::-webkit-scrollbar-thumb {
    background-color: #dadce0;
    border-color: transparent;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    border-style: solid;
    border-width: 4px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

body::-webkit-scrollbar-thumb:hover {
    background-color: #80868b;
}

body::-webkit-scrollbar-thumb:active {
    background-color: #5f6368;
}

body::-webkit-scrollbar-track-piece {
    background-color: #fff;
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

textarea::-webkit-scrollbar {
    overflow: visible;
}

textarea::-webkit-scrollbar-button {
    height: 0;
    width: 0;
}

textarea::-webkit-scrollbar-track {
    background-clip: padding-box;
    border: solid transparent;
    border-width: 0 0 0 4px;
}

textarea::-webkit-scrollbar-track:horizontal {
    border-width: 4px 0 0;
}

textarea::-webkit-scrollbar-track:hover {
    -webkit-box-shadow: inset 1px 0 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 1px 0 0 rgba(0, 0, 0, 0.1);
    box-shadow: inset 1px 0 0 rgba(0, 0, 0, 0.1);
}

textarea::-webkit-scrollbar-track:horizontal:hover {
    -webkit-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.1);
}

textarea::-webkit-scrollbar-track:active {
    background-color: rgba(0, 0, 0, 0.05);
    -webkit-box-shadow:
        inset 1px 0 0 rgba(0, 0, 0, 0.14),
        inset -1px 0 0 rgba(0, 0, 0, 0.07);
    -moz-box-shadow:
        inset 1px 0 0 rgba(0, 0, 0, 0.14),
        inset -1px 0 0 rgba(0, 0, 0, 0.07);
    box-shadow:
        inset 1px 0 0 rgba(0, 0, 0, 0.14),
        inset -1px 0 0 rgba(0, 0, 0, 0.07);
}

textarea::-webkit-scrollbar-track:horizontal:active {
    -webkit-box-shadow:
        inset 0 1px 0 rgba(0, 0, 0, 0.14),
        inset 0 -1px 0 rgba(0, 0, 0, 0.07);
    -moz-box-shadow:
        inset 0 1px 0 rgba(0, 0, 0, 0.14),
        inset 0 -1px 0 rgba(0, 0, 0, 0.07);
    box-shadow:
        inset 0 1px 0 rgba(0, 0, 0, 0.14),
        inset 0 -1px 0 rgba(0, 0, 0, 0.07);
}

textarea::-webkit-scrollbar-thumb {
    background-clip: padding-box;
    border: solid transparent;
    min-height: 28px;
    padding: 100px 0 0;
    -webkit-box-shadow:
        inset 1px 1px 0 rgba(0, 0, 0, 0.1),
        inset 0 -1px 0 rgba(0, 0, 0, 0.07);
    -moz-box-shadow:
        inset 1px 1px 0 rgba(0, 0, 0, 0.1),
        inset 0 -1px 0 rgba(0, 0, 0, 0.07);
    box-shadow:
        inset 1px 1px 0 rgba(0, 0, 0, 0.1),
        inset 0 -1px 0 rgba(0, 0, 0, 0.07);
}

textarea::-webkit-scrollbar-thumb:horizontal {
    border-width: 6px 1px 1px;
    padding: 0 0 0 100px;
    -webkit-box-shadow:
        inset 1px 1px 0 rgba(0, 0, 0, 0.1),
        inset -1px 0 0 rgba(0, 0, 0, 0.07);
    -moz-box-shadow:
        inset 1px 1px 0 rgba(0, 0, 0, 0.1),
        inset -1px 0 0 rgba(0, 0, 0, 0.07);
    box-shadow:
        inset 1px 1px 0 rgba(0, 0, 0, 0.1),
        inset -1px 0 0 rgba(0, 0, 0, 0.07);
}

textarea::-webkit-scrollbar-thumb:hover {
    -webkit-box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.25);
    box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.25);
}

textarea::-webkit-scrollbar-thumb:active {
    -webkit-box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.35);
    box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.35);
}

textarea::-webkit-scrollbar-corner {
    background: transparent;
}

textarea::-webkit-scrollbar-track-piece {
    background-clip: padding-box;
    -webkit-box-shadow:
        inset 1px 0 0 rgba(0, 0, 0, 0.14),
        inset -1px 0 0 rgba(0, 0, 0, 0.07);
    -moz-box-shadow:
        inset 1px 0 0 rgba(0, 0, 0, 0.14),
        inset -1px 0 0 rgba(0, 0, 0, 0.07);
    box-shadow:
        inset 1px 0 0 rgba(0, 0, 0, 0.14),
        inset -1px 0 0 rgba(0, 0, 0, 0.07);
}

textarea::-webkit-scrollbar-track-piece:horizontal {
    border-width: 3px 0 0;
    -webkit-box-shadow:
        inset 0 1px 0 rgba(0, 0, 0, 0.14),
        inset 0 -1px 0 rgba(0, 0, 0, 0.07);
    -moz-box-shadow:
        inset 0 1px 0 rgba(0, 0, 0, 0.14),
        inset 0 -1px 0 rgba(0, 0, 0, 0.07);
    box-shadow:
        inset 0 1px 0 rgba(0, 0, 0, 0.14),
        inset 0 -1px 0 rgba(0, 0, 0, 0.07);
}

textarea::-webkit-scrollbar-thumb {
    border-width: 1px 1px 1px 5px;
}

textarea::-webkit-scrollbar-thumb:horizontal {
    border-width: 5px 1px 1px;
}

textarea::-webkit-scrollbar-corner {
    background-clip: padding-box;
    background-color: #f5f5f5;
    border: solid #fff;
    border-width: 3px 0 0 3px;
    -webkit-box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.14);
    -moz-box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.14);
    box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.14);
}

textarea::-webkit-scrollbar {
    height: 16px;
    width: 16px;
}

textarea::-webkit-scrollbar-track,
textarea::-webkit-scrollbar-thumb,
textarea::-webkit-scrollbar-track-piece {
    border-width: 4px !important;
}

textarea::-webkit-scrollbar-track {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    margin: 0 4px;
}

textarea::-webkit-scrollbar-track:hover {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background: none;
}

textarea::-webkit-scrollbar-thumb {
    background-color: #dadce0;
    border-color: transparent;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    border-style: solid;
    border-width: 4px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

textarea::-webkit-scrollbar-thumb:hover {
    background-color: #80868b;
}

textarea::-webkit-scrollbar-thumb:active {
    background-color: #5f6368;
}

textarea::-webkit-scrollbar-track-piece {
    background-color: #fff;
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}